
body {

    margin: 0;
    background: #fbfbf3 url('http://i.cdn.turner.com/cnn/.e/img/3.0/content/homepage/refresh/bg-main.png') 0 126px repeat-x;
}

#cnn-tweet-header {

    margin: 0 auto;
    width: auto;
    text-align: center;
    min-width: 1002px;
    line-height: 12px;
    background: #ca0002;
    height: 130px;

}

.cnn-tweet-subheader  {

    color: #ffffff;
    margin: -8px 0 0 8px;
}

.tweet-group-container {

    width: 100%;
    padding: 20px;
    background: #fbfbf3;
    margin-top: 45px;
}

.tweet-item {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.tweet-item h4 {
    margin-top: 0;
}
.tweet-item p:last-child {
    margin-bottom: 0;
}

.tweet-item a {

    color: #d9534f;
}

.tweet-item-info {
    background-color: #ffffff;
    border-color: #d9534f;
}
