<div class="tweet-group-container row">

    <div ng-repeat="tweet in tweets" class="col-xs-12 col-md-6">

            <div ng-repeat="item in tweet" class="tweet-item tweet-item-info">

                <h4 class="media-heading">{{item.user.name}}</h4>
                <p><span ng-bind-html="item.text"></span></p>

            </div>

    </div>

</div>